# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
FPSConsole/.vs/FPSConsole/FileContentIndex/5a26bff0-a6e5-4c85-b109-0da08ddf100a.vsidx
FPSConsole/.vs/FPSConsole/FileContentIndex/71016432-8b0a-4e73-8e7b-d7142b7d2998.vsidx
FPSConsole/.vs/FPSConsole/v17/Browse.VC.opendb
*.vsidx
